@media(max-width: 1400px) {
  .navLink:link, .navLink:visited {
    font-size: 1.6rem;
    font-weight: 500;
  }

  .navLink::before {
    bottom: -.5rem;
    height: 2px;
  }

  .btn {
    font-size: 1.8rem;
  }

  .main-section {
    padding: 11rem 0;
  }

  .title {
    font-size: 7rem;
    line-height: 6rem;
    margin-bottom: 1rem;
  }

  .subTitle {
    font-size: 6rem;
    margin-bottom: 3rem;
  }

  .description {
    font-size: 2.2rem;
    margin-bottom: 3rem;
  }

  .metric-section {
    padding: 2.5rem 0;
  }

  .form-container {
    font-size: 2rem;
    padding: 1.5rem 2rem;
    gap: 1rem;
    margin-bottom: 2.5rem;
  }

  .check-label {
    font-size: 1.6rem;
  }

  .checkbox-input {
    transform: scale(1.2);
    margin-right: 0.5rem;
  }

  .scores-metric {
    margin-bottom: 2rem;
  }

  .card-img {
    width: 4rem;
    height: 4rem;
  }

  .score-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .score-card {
    width: 18rem;
    padding: 1rem;
    font-size: 2rem;
  }

  .score-value {
    font-size: 3rem;
    font-weight: 500;
  }

  .table-container {
    height: 30rem;
  }

  .table {
    font-size: 1.5rem;
  }

  footer {
    font-size: 1.2rem;
  }

  .footer-title {
    font-size: 1.6rem;
  }

}