* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #2a6279;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a:link, a:visited {
  text-decoration: none;
}

li {
  list-style-type: none;
  position: relative;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-10{
  gap: 1rem;
}

.gap-20{
  gap: 2rem;
}

.gap-30{
  gap: 3rem;
}

.btn {
  border: 1.5px solid #2a6279;
  border-radius: .5rem;
  font-size: 2.5rem;
  font-weight: 500;
  padding: 0.5rem 1.2rem;
  text-transform: uppercase;
}

/* ----------- NAVBAR ------------ */
.header-section {
  height: 10vh;
  border-bottom: 1px solid #bbb;
}

.logo {
  position: absolute;
  left: 0;
  width: 8%;
  margin-left: 5rem;
}


.navLink:link, .navLink:visited {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #2a6279;
}

.navLink::before {
  content: '';
  display: inline-block;
  width: 0;
  height: 3px;
  background-color: #64caf2;
  position: absolute;
  bottom: -1rem;
  transition: all 0.3s;
}

.navLink:hover::before, .active::before {
  width: 100%;
}

.navLink.left-side::before {
  right: 0;
}

/* ------------ INDEX ----------- */
.main-section {
  height: 85vh;
  margin: 0 20rem;
  gap: 5rem;
}

.home-side {
  width: 50%;
}

.title {
  font-size: 11rem;
  line-height: 9rem;
  margin-bottom: 1rem;
}

.subTitle {
  font-size: 9rem;
  margin-bottom: 3rem;
}

.subTitle.centered {
  gap: 2rem;
}

.description {
  font-size: 3rem;
  margin-bottom: 5rem;
  color: #000;
}

.italic {
  color: #2a6279;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .25;
  overflow: hidden;
  object-fit: cover;
}

.btn-comenzar {
  transition: all 0.3s;
  color: #2a6279;
}

.btn-comenzar:hover {
  border: 1.5px solid #53c4f1;
  background-color: #53c4f1;
  color: #fff;
}

/* ------------ HOME ----------- */
.metric-section {
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5rem 0;
}

.form-container {
  font-size: 2.5rem;
  /* width: 100%; */
  /* box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2); */
  border-radius: 1rem;
  border: 2px solid #2a6279;
  padding: 2.5rem 3rem;
  background-color: #eef9fe;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3rem;

  margin-bottom: 5rem;
}

.row {
  width: 100%;
  justify-content: flex-start;
  gap: 2.5rem;
}

.side-70{
  width: 70%;
}

.side-30{
  width: 30%;
}

.label {
  font-weight: 600;
}

.url-input, .select-input {
  width: 100%;
  height: 3.5rem;
}

.url-input, .select-input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 1.5rem;
  border-radius: 2px;
  background-color: rgba(#fff, .5);
  border: 1px solid #2a6279;
}

.select-input {
  padding: 0.5rem 1rem;
}

.url-input:focus, .select-input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(#000, .1);
  border-bottom: 3px solid #55c57a;
}

.url-input:invalid, .select-input:invalid {
  border-bottom: 3px solid #ff4f30;
}

.checkbox-input {
  transform: scale(1.4);
  margin-right: 1rem;
}

.check-container {
  gap: 2.5rem;
}

.check-label {
  font-size: 2rem;
}

.btn-metrics, .btn-save {
  border: 1.5px solid #2a6279;
  background-color: #2a6279;
  color: #fff;
  transition: all 0.3s;
}

.btn-metrics:hover, .btn-save:hover {
  border: 1.5px solid #53c4f1;
  background-color: #53c4f1;
  color: #fff;
  cursor: pointer;
}

.score-container {
  flex-direction: column;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 14.5rem;
  height: 14.5rem;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 13rem;
  height: 13rem;
  margin: 8px;
  border: 8px solid #53c4f1;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #53c4f1 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.score-title {
  font-size: 3.5rem;
  border-bottom: 2px solid #2a6279;
  margin-bottom: 3rem;
}

.score-card {
  width: 28rem;
  padding: 2rem;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2);
}

.score-card:not(:last-child) {
  margin-right: 2.5rem;
}

.card-img {
  width: 5rem;
  height: 5rem;
}

.score-category {
  text-transform: uppercase;
  font-weight: 500;
}

.score-value {
  font-size: 4rem;
  font-weight: 600;
}

.performance-style {
  background: linear-gradient(to right bottom, #8fd7cf, #1EAE9E);
}

.accessibility-style {
  background: linear-gradient(to right bottom, #d2b7d7, #A56FAE);
}

.best-practices-style {
  background: linear-gradient(to right bottom, #fbcc92, #F79824);
}

.seo-style {
  background: linear-gradient(to right bottom, #96bee9, #2D7DD2);
}

.pwa-style {
  background: linear-gradient(to right bottom, #f2929a, #E94957);
}

.scores-metric {
  margin-bottom: 4rem;
}

/* ------------ HISTORY ----------- */
.table-container {
  height: 45rem;
  border: 1px solid #2a6279;
  border-radius: 1rem;
  overflow: hidden;
}

.table {
  font-size: 2rem;
  text-align: center;
  border-collapse: collapse;
}

.table-head {
  color: #fff;
  padding: 0 2rem;
  background-color: #2a6279;
  border-bottom: 1px solid #2a6279;
  height: 3rem;
}

.table-head:not(:last-child) {
  border-right: 1px solid #fff;
}

.table-value:not(:last-child) {
  border-right: 1px solid #2a6279;
}

.table-row:nth-child(odd) {
  background-color: #eef9fe;
}

.table-value {
  padding: 0.5rem 1.5rem;
}

/* ------------ FOOTER ----------- */
footer {
  color: #fff;
  font-size: 1.5rem;
  background-color: #112730;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.dev-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dev-links {
  display: flex;
  margin-top: 2rem;
  gap: 2.5rem;
}

.dev-link {
  color: #fff;
}

.p-5 {
  padding: 2.5rem 5rem;
}

.footer-title {
  font-size: 2rem;
}

.footer-rights {
  border-top: 1.5px solid #bbb;
  text-align: center;
  height: 3rem;
}